# Welcome to Pandas Snippets

### import statements

In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf

### Print Versions

In [8]:
print 'tensorflow version ',tf.__version__
print 'pandas version ',pd.__version__
print 'numpy version ', np.__version__

tensorflow version  1.12.0
pandas version  0.23.4
numpy version  1.15.4

# Basics
Here we create a basic pandas table/dataframe with 3 rows. Each column's data types are printed. The way the dataframe created here is by providing the column name as the key and its values in list form. Each key in the object corresponds to a different column

In [9]:
df = pd.DataFrame(data={'y': [1, 2, 3],
                       'score': [93.5, 89.4, 90.3],
                       'name': ['Dirac', 'Pauli', 'Bohr'],
                       'birthday': ['1902-08-08', '1900-04-25', '1885-10-07']})
print(type(df))
print(df.dtypes)
df

<class 'pandas.core.frame.DataFrame'>
birthday     object
name         object
score       float64
y             int64
dtype: object

     birthday   name  score  y
0  1902-08-08  Dirac   93.5  1
1  1900-04-25  Pauli   89.4  2
2  1885-10-07   Bohr   90.3  3